<% provide(:title, 'All users') %>
<h1>ユーザー一覧</h1>

<div class="container users text-center">
  <%= paginate @users %>
  <%= page_entries_info @users %>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-xs-12 col-sm-4">
        <h3><%= link_to user.name, user %></h3>
        <% if user.image.attached? %>
          <%= image_tag user.image.variant(resize: "200x150") ,class: "guest_img" %>
        <% end %>
          <% if current_user.admin? && !(user == current_user) %>
            <p><%= link_to "delete", user, method: :delete,
                                          data: { confirm: "You sure?" } %></p>
          <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @users %>
</div>