<%= form_for(@guesthouse) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    <%= f.text_area :content, placeholder: "ゲストハウスについて簡単にコメントを記入してください" %>
  </div>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>